#App{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    height: 100vh;
    background: url('./img/overcast.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}